//Global Variables
$colorPrimary: #075f59;
$colorSecondary: #ba3f1d;
$colorGreyPop: #232026;
$colorGreyPop80: #232026bb;
$colorGreyHover: #2f2c33;
$colorGreyBg: #1c1c1e;
$colorText: #ffffff;
$colorButtonHover: #dfdfdf;
$colorShadowLight: rgba(48, 48, 48, 0.85);
$colorShadowDark: rgba(0, 0, 0, 0.65);

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content:space-between;
  align-items: center;
}