@import './config';

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.platforms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.platform-container {
  width: 40vw;
  min-width: 325px;
  height: 19vh;
  min-height: 380px;
  background-color: $colorGreyPop;
  margin-top: 3vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  border-radius: 30px;
  box-shadow: -2px -2px 5px rgba(48, 48, 48, 0.85),
    2px 2px 5px rgba(0, 0, 0, 0.65);
  background-size: cover;
  background-position: center;
}

.platform-container-title {
  width: 100%;
  text-align: center;
  font-size: calc(12px + 2.5vw);
  font-weight: 500;
  padding-top: 15px;
}

.platform-container-tile-box {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1vw;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  overflow: auto;
}

.search-results {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2.5vh;
}

.my-profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.offer-details-container {
  margin-top: 4.5vh;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: space-evenly;
}

.item-details-container {
  @extend .flex-column-center;
}

.large-sprite-container {
  @extend .flex-column-center;
  margin-left: 20px;
  transition: 150ms;
}

.large-sprite-container:hover {
  transform: scale(1.05);
}

.small-text {
  font-size: calc(12px + 0.25vw);
}
.rating-text {
  @extend .small-text;
  margin-top: 6px;
  margin-bottom: 0.4vh;
}
.standard-text {
  font-size: calc(12px + 0.8vw);
  margin-top: 3px;
}

.large-text {
  position: absolute;
  z-index: 0;
  font-size: 15vw;
  opacity: 0.18;
}

.large-sprite {
  width: 20vw;
  height: 20vw;
  min-width: 125px;
  min-height: 125px;
  align-self: center;
  z-index: 1;
}

.is-shiny-box {
  display: flex;
  width: 100%;
  max-width: 10vw;
  align-items: center;
  margin-left: 1.4vw;
}

.shiny-checkbox {
  display: inline-block;
  min-width: 12px;
  min-height: 12px;
  width: 1.5vw;
  height: 1.5vw;
  background-color: $colorSecondary;
  border: 1.5px solid #bbbbbb;
  background-clip: content-box;
  border-radius: 3px;
  margin-left: 1vw;
}

.seller-details-container {
  @extend .flex-column-center;
  margin-left: 20px;
}
.seller-rating-box {
  display: flex;
}

.interest-box {
  @extend .flex-column-center;
  width: 60%;
  flex-wrap: wrap;
  margin-top: 10px;
}

.interest-box button {
  width: 100%;
}

.interest-stats {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.bar-spacer {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3px;
  font-size: calc(12px + 0.5vw);
}

.menu-title {
  font-size: calc(12px + 1vw);
  width: 100%;
  text-align: center;
}

.dm-page {
  width: 100%;
}

.dm-container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dm-chat-title-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dm-sender-info {
  display: flex;
  align-items: center;
  margin-top: 1.5vh;
}

.dm-back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(12px + 0.5vw);
  transition: 150ms;
  margin-top: 1.5vh;
}

.dm-back-button p {
  font-size: 1.4em;
}

.dm-back-button i {
  padding-right: 0.4em;
}

.dm-back-button:hover {
  transform: scale(1.05);
}

.menu-title-dm {
  @extend .menu-title;
  width: fit-content;
  margin-right: 8px;
  margin-top: -2px;
}

.dm-username {
  font-size: calc(12px + 1vw);
}

.dm-title-avatar-box {
  display: flex;
  width: 100%;
}

.dm-add-message-container {
  border-top: 2px solid $colorPrimary;
  box-shadow: 0 0 10px 3px $colorPrimary;
  margin-top: 1em;
  width: 100%;
  height: 25vh;
}

.addMessage-container {
}

.span4 {
  width: 4px;
}

.span20 {
  width: 20px;
}
