@import './config';
@import './animations';

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.platforms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.platform-container {
  width: 40vw;
  min-width: 325px;
  height: 19vh;
  min-height: 380px;
  background-color: $colorGreyPop;
  margin-top: 3vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  border-radius: 30px;
  box-shadow: -2px -2px 5px rgba(48, 48, 48, 0.85),
    2px 2px 5px rgba(0, 0, 0, 0.65);
  background-size: cover;
  background-position: center;
  transition: 300ms;
  cursor: pointer;
}

.platform-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px 3px $colorPrimary;
}

.platform-container-title {
  width: 100%;
  text-align: center;
  font-size: calc(12px + 2.5vw);
  font-weight: 500;
  padding-top: 15px;
}

.platform-container-tile-box {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1vw;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  overflow: auto;
}

.search-results {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2.5vh;
}

.my-profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.offer-details-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-details-container {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: space-evenly;
}

.contact-seller-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  opacity: 0;
  .contact-seller-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 60vh;
    margin: 2em;
    border: 1px solid $colorPrimary;
    box-shadow: 0 0 10px 3px $colorPrimary;
    h1 {
      padding-top: 1em;
    }
  }
}

.contact-seller-message {
  textarea {
    width: 80%;
    height: 40%;
    resize: none;
    background-color: $colorShadowLight;
    color: $colorText;
    padding: 1em;
    font-size: 1.5em;
    box-shadow: 0 0 10px 3px $colorPrimary;
    border-style: none;
  }
  textarea:focus {
    outline: none;
  }
  i {
    color: $colorPrimary;
  }
  .contact-seller-btns {
    display: flex;
    margin-bottom: 1em;
    button {
      margin: 1em;
    }
  }
}

.contact-seller-trade {
  img {
    width: 40%;
  }
  p {
    margin: 1em;
  }
}

@media screen and (max-width: 840px) {
  .contact-seller-container {
    flex-direction: column;
    height: auto;
    .contact-seller-box {
      width: 90%;
    }
    .contact-seller-message {
      h1 {
        margin-bottom: 1em;
      }
      textarea {
        height: 60%;
      }
      .contact-seller-btns {
        margin-top: 1em;
      }
    }
  }
  .large-MTGOCard:hover {
    margin-top: 5vh;
    margin-bottom: 5vh;
    transform: scale(1.7);
  }
}

.item-details-container {
  @extend .flex-column-center;
  background-color: $colorGreyPop;
  border-radius: 25px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-left: 2vw;
  padding-right: 2vw;
  box-shadow: 0 0 8px 3px $colorPrimary;
}

.large-sprite-container-poke {
  @extend .flex-column-center;
  margin-left: 20px;
  animation: floatnoglow 4s ease-in-out infinite;
}

.large-sprite-container {
  @extend .flex-column-center;
  margin-left: 20px;
  animation: float 4s ease-in-out infinite;
}
.large-mtgo-container {
  @extend .flex-column-center;
  margin-left: 20px;
  animation: float 4s ease-in-out infinite;
  border-radius: 13px;
}

.small-text {
  font-size: calc(12px + 0.25vw);
}

.rating-tiny-text {
  font-size: calc(10px + 0.2vw);
  color: $colorText;
  color: rgb(156, 156, 156);
}

.rating-text {
  @extend .small-text;
  margin-top: 6px;
  margin-bottom: 0.4vh;
}
.standard-text {
  font-size: calc(12px + 0.5vw);
  margin-top: 3px;
  text-align: center;
}

.large-text {
  position: absolute;
  z-index: 0;
  font-size: 15vw;
  opacity: 0.18;
}

.large-sprite {
  width: 20vw;
  height: 20vw;
  min-width: 125px;
  min-height: 125px;
  align-self: center;
  z-index: 1;
}

.large-MTGOCard {
  width: 21vw;
  height: 29vw;
  min-width: 100px;
  min-height: 125px;
  align-self: center;
  z-index: 1;
  border-radius: 14px;
}

.is-shiny-box {
  display: flex;
  width: 100%;
  max-width: 10vw;
  align-items: center;
  margin-left: 1.4vw;
}

.shiny-checkbox {
  display: inline-block;
  min-width: 12px;
  min-height: 12px;
  width: 1.5vw;
  height: 1.5vw;
  background-color: $colorSecondary;
  border: 1.5px solid #bbbbbb;
  background-clip: content-box;
  border-radius: 3px;
  margin-left: 1vw;
}

.seller-rating-box {
  display: flex;
}

.seller-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interest-box {
  @extend .flex-column-center;
  width: 60%;
  flex-wrap: wrap;
  margin-top: 10px;
}

.interest-box button {
  width: 100%;
}

.interest-stats {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.bar-spacer {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3px;
  font-size: calc(12px + 0.5vw);
}

.menu-title {
  font-size: calc(12px + 1vw);
  width: 100%;
  text-align: center;
}

.dm-page {
  width: 100%;
}

.dm-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dm-chat-title-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dm-sender-info {
  display: flex;
  align-items: center;
  margin-top: 1.5vh;
}

.dm-back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(12px + 0.5vw);
  transition: 150ms;
  margin-top: 1.5vh;
}

.dm-back-button p {
  font-size: 1.4em;
}

.dm-back-button i {
  padding-right: 0.4em;
}

.dm-back-button:hover {
  transform: scale(1.05);
}

.menu-title-dm {
  @extend .menu-title;
  width: fit-content;
  margin-right: 8px;
  margin-top: -2px;
}

.dm-username {
  font-size: calc(12px + 1vw);
}

.dm-title-avatar-box {
  display: flex;
  width: 100%;
}

.dm-add-message-container {
  border-top: 2px solid $colorPrimary;
  box-shadow: 0 0 10px 3px $colorPrimary;
  margin-top: 1em;
  width: 100%;
  height: 25vh;
}

.span4 {
  width: 4px;
}

.span20 {
  width: 20px;
}
