$colorGreyPop: #232026;

.platforms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.platform-container {
  width: 305px;
  max-width: 305px;
  height: 300px;
  max-height: 300px;
  background-color: $colorGreyPop;
  margin: 10px;
  border-radius: 30px;
  box-shadow: -2px -2px 5px rgba(48, 48, 48, 0.85),
    2px 2px 5px rgba(0, 0, 0, 0.65);
  background-size: cover;
  background-position: center;
}

.platform-container-title {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  padding-top: 15px;
}

.platform-container-tile-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px 0px;
}

.search-results {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}

.my-profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}