.container-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  .demo-start {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
  }
  .demo-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 70vh;
    position: relative;
    h1 {
      font-size: 70px;
    }
    img {
      position: absolute;
      width: 14em;
      height: 14em;
      left: 50%;
      margin-left: -7em;
      top: 50%;
      margin-top: -7em;
    }
    .demo-redirect {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 2em;
      }
      button {
        width: 15em;
        bottom: 1em;
      }
    }
  }
}
