@import './config';

.form-spacer {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorGreyPop;
  border-radius: 25px;
}

.form-title {
  font-size: 2em;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.form-input {
  background-color: $colorText;
  color: $colorGreyBg;
  margin: 1em;
  min-width: 75px;
  width: 50%;
}

.horiz-input-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 53%;
}

.form-appraisal-box {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

.special-attrib-box {
  display: flex;
  width: 50%;
  justify-content: center;
}

.shiny-checkbox {
  width: 1vw;
  height: 1vw;
  margin-right: 1.5vw;
  margin-top: 0.2vh;
}

.form-appraisal-font {
  font-size: calc(12px + 0.25vw);
  margin-right: 5px;
  margin-top: 0.2vh;
}

.trade-dropdown {
  background-color: $colorText;
  color: $colorGreyBg;
  width: 50%;
  margin-bottom: 1vh;
  margin-right: 1vw;
  margin-left: 1vw;
  min-width: 75px;
}

.submit__btn {
  background-color: $colorSecondary;
  font-size: 1em;
  width: 50%;
  margin: 1vh 1vw;
  margin-bottom: 3vh;
}

.submit__btn:hover {
  background-color: $colorText;
  color: $colorSecondary;
}
