@import './config';

.form-spacer {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorGreyPop;
  border-radius: 25px;
}

.form-title {
  font-size: 2em;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.form-input {
  background-color: $colorText;
  color: $colorGreyBg;
  margin: 1em;
  min-width: 125px;
  width: 30vw;
}

.horiz-input-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 53%;
}

.form-appraisal-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

.special-attrib-box-right {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  position: relative;
  width: 50%;
  margin-left: 5vw;
}
.special-attrib-box-left {
  @extend .special-attrib-box-right;
  justify-content: flex-end;
  margin-left: 0vw;
  margin-right: 5vw;
}

.shiny-checkbox {
  position: absolute;
  margin-left: 2vw;
  width: 2.5vw;
  height: 2.5vw;
  min-width: 25px;
  min-height: 25px;
  opacity: 0;
}

.fa-check {
  color: green;
  margin-left: 2vw;
}

.fa-times {
  color: red;
  margin-left: 2vw;
}

.form-appraisal-font {
  font-size: calc(12px + 0.8vw);
  margin-right: 20px;
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
}

.trade-dropdown {
  background-color: $colorText;
  color: $colorGreyBg;
  width: 30vw;
  margin-bottom: 1vh;
  margin-right: 1vw;
  margin-left: 1vw;
  min-width: 125px;
}

.submit__btn {
  background-color: $colorSecondary;
  font-size: 1em;
  width: 50%;
  margin: 1vh 1vw;
  margin-bottom: 3vh;
}

.submit__btn:hover {
  background-color: $colorText;
  color: $colorSecondary;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 85vh;
  .feedback-trade-animation {
    width: 80%;
    height: 30%;
    margin-top: 2em;
    border: 1px solid white;
  }
  .feedback-trade-details {
    width: 80%;
    height: 30%;
    border: 1px solid white;
  }
  .feedback-trade-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
    //border: 1px solid white;
    p {
      font-size: larger;
      margin-right: 2em;
    }
  }
}
