@import './config';

.backdrop-container {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.hamburger-nav {
  width: 20%;
  background-color: $colorGreyPop;
  position: fixed;
  top: 0;
  right: 0;
  height: 95vh;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  z-index: 20;
}

.hamburger-img:hover {
  transform: scale(1.15);
}

.hamburger-links {
  min-width: 91%;
}

.hamburger-button {
  width: 80%;
  margin: 8px 8px;
  font-size: 1em;
}

.hamburger-img {
  max-width: 12px;
  max-height: 12px;
  margin-top: -2px;
  margin-left: 5px;
  margin-right: 15px;
  transition: 150ms;
}
