@import './config';

.nav-container {
  display: flex;
  align-items: center;
  height: 20vh;
}

.logo-img {
  width: 180px;
  height: 100%;
  padding: 0.7em;
  opacity: 90%;
}

.platform-text {
  font-size: 4em;
  color: $colorText;
  margin-left: 0.4em;
  margin-bottom: 0.3em;
}

.filters-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .select-dropdown {
    margin-left: 0.7em;
  }
  input {
    outline: none;
    border: 2px solid white;
    border-radius: 5px;
    width: 50%;
    padding: 1em;
  }
}

.my-profile-overlay {
  margin-left: 5px;
  margin-right: 20px;
  height: 40px;
  max-height: 40px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.my-profile-overlay-link {
  display: flex;
  align-items: center;
  transition: 150ms;
}

.my-profile-overlay-link:hover {
  transform: scale(1.05);
}

.prof-overlay-text {
  font-size: 0.5em;
  color: $colorText;
  margin-right: 2px;
}

.img-med {
  max-width: 20px;
  max-height: 20px;
}

.img-small {
  max-width: 12px;
  max-height: 12px;
}

.img-exit {
  max-width: 15px;
  max-height: 15px;
  align-self: flex-end;
  margin-right: 12px;
  margin-bottom: 25px;
}

.dm-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
