@import './config';

.nav-container {
  position: relative;
  display: flex;
  align-items: center;
  max-height: 8vh;
  margin-bottom: 1vh;
  border-bottom: 2px solid $colorPrimary;
  box-shadow: 0 0 10px 3px $colorPrimary;
}

.logo-img {
  margin-left: 15px;
  width: 4.5vw;
  height: 3.5vw;
  min-width: 50px;
  min-height: 50px;
  opacity: 90%;
  cursor: pointer;
  align-self: center;
}

.nav-trademon-text {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.platform-text {
  font-size: calc(12px + 1.5vw);
  font-weight: 400;
  color: $colorText;
  margin-left: 2vw;
  margin-bottom: 0.3em;
  padding-top: 1.25vh;
  padding-left: 0.5em;
}

.filters-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .search-select-dropdown {
    margin-left: 0.7em;
    width: 10vw;
    min-width: 100px;
    margin-right: 4px;
    height: 3.5vw;
    min-height: 45px;
    padding-left: 1.75vw;
    text-align: center;
  }
  input {
    border-radius: 25px;
    width: 50%;
    padding: 1em;
    min-width: 225px;
  }
}

.my-profile-overlay {
  margin-top: 1vh;
  margin-left: 5px;
  margin-right: 20px;
  height: 40px;
  max-height: 40px;
  width: 15vw;
  min-width: 140px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.my-profile-overlay-link {
  display: flex;
  align-items: center;
  transition: 150ms;
}

.my-profile-overlay-link:hover {
  transform: scale(1.05);
}

.prof-overlay-text {
  font-size: calc(12px + 0.8vw);
  color: $colorText;
  margin-right: 4px;
}

.avatar-overlay-img {
  width: 3vw;
  height: 3vw;
  min-width: 25px;
  min-height: 25px;
  margin-right: 0.5vw;
}

.img-small {
  max-width: 12px;
  max-height: 12px;
}

@media screen and (max-width: 900px) {
  .nav-container {
    .my-profile-overlay-link {
      display: none;
    }
    .platform-text {
      margin-top: 0.5em;
    }
    .filters-box {
      flex-direction: row;
      align-items: flex-start;
      margin-left: 0.5em;
      .select-dropdown {
        margin-bottom: 0.5em;
      }
      .search-field {
        margin-left: 0.8em;
        width: 100%;
      }
    }
    .hamburger-img {
      position: absolute;
      top: 0.5em;
      right: 0.1em;
    }
  }
}

.tabs-container {
  width: 100vw;
  margin-top: 3vh;
  display: flex;
  justify-content: stretch;
  align-items: center;
  height: 5vh;
}

.tab-spacer-box {
  width: 80vw;
  max-width: 80vw;
  display: flex;
}

.tab-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: $colorGreyPop;
  border-radius: 5px;
  margin: 0 2vw;
  transition: 150ms;
}

.tab-box-selected {
  @extend .tab-box;
  background-color: $colorGreyHover;
  transform: scale(1.05);
  box-shadow: 0 0 8px 3px $colorPrimary;
}

.tab-box:hover {
  background-color: $colorGreyHover;
  transform: scale(1.05);
  box-shadow: 0 0 8px 3px $colorPrimary;
}

.tab-back {
  @extend .tab-box;
  max-width: 15vw;
}

.tab-text {
  padding: 0 2vw;
  font-size: calc(8px + 0.8vw);
}