.rating-widget-container {
  display: flex;
  align-items: flex-end;
}

.rating-widget {
  display: flex;
  align-items: flex-end;
}
.rating-icon-empty {
  height: .7rem;
  width: .7rem;
}

.rating-icon-full {
  height: .7rem;
  width: .7rem;
}
