@import './config';
@import './animations';

.temp-platform-container {
  width: 30vw;
  min-width: 325px;
  height: 30vh;
  min-height: 520px;
  background-color: $colorGreyPop;
  margin-top: 3vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  border-radius: 30px;
  box-shadow: -2px -2px 5px rgba(48, 48, 48, 0.85),
    2px 2px 5px rgba(0, 0, 0, 0.65);
  background-size: cover;
  background-position: center;
  transition: 300ms;
  cursor: pointer;
  border: 1px solid $colorPrimary;
  box-shadow: 0 0 10px 3px $colorPrimary;
}

.temp-video-container {
  border-radius: 30px;
  border: 1px solid $colorPrimary;
  box-shadow: 0 0 10px 3px $colorPrimary;
  width: 650px;
  height: 490px;
}

.temp-trading-container {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7)
    ),
    url(../assets/bg_RocketLeague.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: auto;
}
