$colorPrimary: #075F59;
$colorSecondary: #BA3F1D;
$colorGreyPop: #232026;
$colorGreyBg: #1c1c1e;
$colorText: #ffffff;
$colorShadowLight: rgba(48, 48, 48, 0.85);
$colorShadowDark: rgba(0, 0, 0, 0.65);

//****THIS WHOLE FILE NEEDS TO BE MERGED WITH TILES.SCSS & REFACTORED!!!!!!!!!!!!

.my-profile-containers {
  min-width: 200px;
  width: 80%;
  max-width: 400px;
  background-color: $colorGreyPop;
  border-radius: 30px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: -2px -2px 5px $colorShadowLight,
  2px 2px 5px $colorShadowDark;
}

.banner-container {
  max-height: 40px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.watch-list-container {
  @extend .my-profile-containers;
  max-height: 300px;
  height: 300px;
  margin-top: 10px;
}

.watch-list-title-row {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.watch-list-flexbox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 420px;
}

.img-med {
  max-width: 30px;
  max-height: 30px;
}