@import './config';

p {
  font-size: calc(12px + 0.28vw);
}

.standard-tile-container {
  width: 15vw;
  height: 15vw;
  min-width: 175px;
  min-height: 175px;
  background-color: $colorGreyPop80;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  border-radius: 25px;
  box-shadow: -2px -2px 5px rgba(48, 48, 48, 0.85),
    2px 2px 5px rgba(0, 0, 0, 0.65);
  transition: 150ms;
}

.standard-tile-container:hover {
  background-color: $colorGreyHover;
  transform: scale(1.05);
}

.title-row {
  display: flex;
  max-height: 15px;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2.5vh;
}

.std-tile-title-text {
  font-size: calc(12px + 0.55vw);
}
.std-mtgo-tile-title-text {
  font-size: calc(12px + 0.55vw);
  text-overflow:ellipsis;
}

.standard-mtgo-tile-container {
  width: 15vw;
  height: 15vw;
  min-width: 175px;
  min-height: 175px;
  background-color: $colorGreyPop80;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  border-radius: 25px;
  box-shadow: -2px -2px 5px rgba(48, 48, 48, 0.85),
    2px 2px 5px rgba(0, 0, 0, 0.65);
  transition: 150ms;
}

.heart {
  width: 1vw;
  height: 1vw;
  min-width: 12px;
  min-height: 12px;
  align-self: flex-end;
  margin-bottom: -0.6vh;
  margin-right: 0.5vh;
}
.linkcomponent{
  margin-bottom:1.6vh;
}

.heart-mini {
  width: 1vw;
  height: 1vw;
  min-width: 12px;
  min-height: 12px;
  align-self: flex-end;
  margin-right: 0.5vh;
}
.name-heart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.main-info-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sprite-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5vh;
  padding-left: 1vw;
}

.standard-sprite {
  width: 7.25vw;
  height: 7.25vw;
  min-width: 75px;
  min-height: 75px;
}

.appraisal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.25vh;
}
.appraisal-img {
  width: 3.5vw;
  height: 3.5vw;
  min-width: 37px;
  min-height: 37px;
  margin-bottom: 1vh;
}

.seller-row {
  @extend .flex-between;
  padding-left: 15px;
  padding-right: 15px;
  max-height: 20px;
  height: 20px;
  margin-bottom: 1.2vh;
}

.seller-info {
  @extend .flex-center
}

.seller-text {
  padding-left: 5px;
}

.standard-avatar {
  width: 1.5vw;
  height: 1.5vw;
  min-width: 20px;
  min-height: 20px;
}

.mini-tile-container {
  @extend .flex-center;
  background-color: $colorGreyPop80;
  width: 12.5vw;
  height: 6vw;
  min-width: 160px;
  min-height: 77px;
  margin: 7px;
  border-radius: 15px;
  box-shadow: -2px -2px 5px $colorShadowLight, 2px 2px 5px $colorShadowDark;
  transition: 150ms;
}

.mini-tile-container:hover {
  background-color: $colorGreyHover;
  transform: scale(1.05);
}

.sprite-mini-box {
  @extend .flex-center;
  margin-left: 1vw;
  width: 5vw;
  height: 100%;
  min-width: 48px;
  min-height: 54px;
}

.sprite-mini {
  width: 4vw;
  height: 4vw;
  min-width: 45px;
  min-height: 45px;
}
.mtg-mini {
  width: 3.6vw;
  height: 4.4vw;
  min-width: 36px;
  min-height: 56px;
}

.mini-tile-info-box {
  text-align: right;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 7px 8px;
  width: 50%;
  height: 90%;
  padding-right: 0.5vw;
}

.mini-fave-icon-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -1px;
}

.mini-tile-text {
  font-size: calc(9px + 0.2vw);
  margin-top: 5px;
}

.img-large {
  max-width: 60px;
  max-height: 60px;
}

.img-med {
  max-width: 35px;
  max-height: 35px;
}

.img-small {
  max-width: 20px;
  max-height: 20px;
}

.dm-link {
  width: 80%;
}

.dm-summary-container {
  @extend .flex-center;
  width: 100%;
  margin: 5px 0px;
  background-color: $colorGreyPop80;
  border-radius: 25px;
  border: 1px solid $colorPrimary;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  padding-right: 10px;
  transition: 150ms;
}
.dm-summary-container:hover {
  background-color: $colorGreyHover;
  transform: scale(1.05);
}

.dm-summary-text-column {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.dm-chat-container {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*MESSAGE STYLES*/
.message {
  min-width: 20%;
  max-width: 60%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 10px;
  padding: 15px;
  box-shadow: -1px -1px 5px $colorShadowLight, 1px 1px 5px $colorShadowDark;
  transition-duration: 150ms;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.message:hover {
  transform: scale(1.05);
}
.dm-text {
  font-size: calc(12px + 0.5vw);
  font-weight: 100;
}

.dm-text-item {
  font-size: 1.1em;
  color: $colorPrimary;
}

.dm-summary-text {
  @extend .dm-text-item;
  color: rgba(190, 190, 190, 0.856);
}

.dm-timestamp {
  font-size: calc(12px + 0.2vw);
  margin-top: 1vh;
}

.right {
  background-color: $colorGreyPop;
  border: 1px solid $colorPrimary;
  margin-left: 4vw;
  min-width: 80%;
}

.right:hover {
  background-color: $colorGreyHover;
}

.left {
  background-color: $colorPrimary;
  margin-right: 4vw;
  min-width: 80%;
}

.left:hover {
  opacity: 0.9;
}

.whatever{
  display: flex;
  justify-content: space-between;
}