@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import './styling/config';

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $colorGreyBg;
  color: $colorText;
  font-family: 'Rubik', sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: $colorText;
}

* button {
  border-radius: 25px;
  outline: none;
  border: none;
  color: $colorText;
  background-color: $colorPrimary;
  font-weight: 500;
  padding: 1em;
  transition: 125ms;
  font-size: calc(10px + 0.4vw);
}

* button:hover {
  color: $colorPrimary;
  background-color: $colorButtonHover;
  box-shadow: 1px 1px 4px 0 rgba(29, 28, 28, 0.55) inset,
    -3px -3px 5px 0 rgba(255, 255, 255, 0.85) inset;
}

select {
  background-color: $colorGreyPop;
  color: $colorText;
  border-radius: 25px;
  height: 2.5em;
  font-family: 'Rubik', sans-serif;
  font-size: calc(10px + 0.4vw);
  font-weight: 200;
  outline: none;
  border: none;
  padding-left: 0.65vw;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select:hover {
  cursor: pointer;
}

input {
  background-color: $colorGreyPop;
  color: $colorText;
  outline: none;
  border-radius: 25px;
  padding: 0.5vw;
  padding-left: 0.6vw;
  font-family: 'Rubik', sans-serif;
  font-size: calc(10px + 0.4vw);
  border: 3px solid transparent;
  transition: border 1s;
}

input:hover {
  cursor: pointer;
}

input:focus {
  box-shadow: 0px 0px 10px 8px $colorPrimary;
  transition: box-shadow 0.7s;
}

textarea {
  color: $colorText;
  border: none;
  outline: none;
  font-family: 'Rubik', sans-serif;
  font-size: calc(10px + .5vw);
  font-weight: 100;
  padding: 2vw 3vw;
}